body { 
      background-color: rgb(0, 0, 0); 
      } 
  
.phill { 
background-color: rgb(0, 0, 0); 
border-radius: 15px; 
border: 3px solid rgb(45, 45, 45); 
display: flex; 
position: relative; 
justify-content: center; 
align-items: center; 
height: 95vh; 
flex-direction: column; 
} 

.preview-phill { 
background-color: rgb(0, 0, 0); 
border-radius: 15px; 
border: 3px solid rgb(45, 45, 45); 
height: 90vh; 
width: 125vh; 
position: absolute; 
top: 17px; 
right: 17px; 
} 

.text-phill { 
width: 450px; 
height: 30PX; 
border-radius: 5px; 
background-color: rgb(0, 0, 0); 
border: 2px solid rgb(45, 45, 45); 
position: absolute; 
top: 17px; 
left: 17px; 
} 

.inner-input {
width: 97%; 
height: 90%; 
border: none; 
background-color: transparent; 
color: rgb(255, 255, 255); 
font-size: 14px; 
outline: none; 
padding: 2px 5px; 
}

.start-glow {
background-color: rgb(255, 0, 0);
color: rgb(255, 255, 255);
padding: 10px 20px;
border: 1px solid white;
border-radius: 6px;
cursor: pointer;
position: relative;
top: -190px;
left: -545px;
z-index: 10;
font-size: 16px;
transition: 0.3s;
}

.preview-text {
color: white;
font-size: 18px;
margin: 20px;
max-width: 97%;
word-wrap: break-word;
overflow-wrap: break-word;
text-align: justify;
white-space: normal;
}

/* Glow animation */
.glow {
color: white;
animation: glow 3.5s infinite ease-in-out
}

@keyframes glow {
  from {
    text-shadow: 0 0 50px rgb(0, 255, 8),
                 0 0 40px rgb(0, 255, 89),
                 0 0 30px rgb(8, 227, 44),
                 0 0 20px rgb(0, 255, 68);
  }
  to {
    text-shadow: 0 0 50px rgb(255, 0, 0),
                 0 0 40px rgb(255, 0, 0),
                 0 0 30px rgb(227, 8, 8),
                 0 0 20px rgb(255, 0, 0);
  }
}

::selection {
background-color: rgb(35, 35, 35);
}