body {
    background-color: #000000;
    font-family: Arial, Sans-serif;
}

.phill { /*Main phill*/
  background-color: rgb(0, 0, 0); 
  border-radius: 15px; 
  border: 3px solid rgb(45, 45, 45); 
  display: flex; 
  position: relative; 
  justify-content: center; 
  align-items: center; 
  height: 95vh; 
  flex-direction: column; }

.preview-phill { 
  background-color: rgb(0, 0, 0); 
  border-radius: 15px; 
  border: 3px solid rgb(45, 45, 45); 
  height: 90vh; width: 125vh; 
  position: absolute; 
  top: 17px; 
  right: 17px; 
  } 
  
.text-phill {
  width: 450px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid rgb(45,45,45);
  background-color: #000;
  position: absolute; 
  top: 17px; 
  left: 17px;
  }

.inner-input { 
  width: 97%; 
  height: 90%; 
  border: none; 
  background-color: transparent; 
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  outline: none; 
  padding: 2px 5px; 
  }

.start-glow {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  position: absolute; 
  top: 70px; 
  left: 17px;
  }

#colorWheel {
  border-radius: 15px;
  cursor: crosshair;
  border: 2px solid #ffffff;
  position: absolute;
  top: 120px;
  left: 17px;
  }

#colorValue {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 80px;
  left: 150px;
  }

  ::selection {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.3);
  }